<section>
  <div class="conatiner-fluid bg-light">
    <div class="container">
      <div class="row justify-content-between align-items-center py-11">
        <div class="col-md-3 mb-5 mb-md-0">
          <p class="text-dark fw-bold fs-3 mb-0">Bandage</p>
        </div>
        <div class="col-md-3 text-md-center">
          <p class="mb-0">
            <a href="" class="text-decoration-none"
              ><span class="fw-bold me-4 text-secondary fs-3">F</span></a
            >
            <a href="" class="text-decoration-none"
              ><span class="fw-bold me-4 text-secondary fs-3">I</span></a
            >
            <a href="" class="text-decoration-none"
              ><span class="fw-bold me-4 text-secondary fs-3">T</span></a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container py-10">
    <div class="row">
      <div class="col-md-6 col-xl-2 mb-6 mb-md-0">
        <h5 class="mb-4">Company Info</h5>
        <div>
          <a
            href="#"
            class="d-block text-decoration-none mb-2 text-body fw-bold"
            >About Us</a
          >
          <a
            href="#"
            class="d-block text-decoration-none mb-2 text-body fw-bold"
            >Carrier</a
          >
          <a
            href="#"
            class="d-block text-decoration-none mb-2 text-body fw-bold"
            >We are hiring</a
          >
          <a
            href="#"
            class="d-block text-decoration-none mb-2 text-body fw-bold"
            >Blog</a
          >
        </div>
      </div>
      <div class="col-md-6 col-xl-2 mb-6 mb-md-0">
        <h5 class="mb-4">Company Info</h5>
        <div>
          <a
            href="#"
            class="d-block text-decoration-none mb-2 text-body fw-bold"
            >About Us</a
          >
          <a
            href="#"
            class="d-block text-decoration-none mb-2 text-body fw-bold"
            >Carrier</a
          >
          <a
            href="#"
            class="d-block text-decoration-none mb-2 text-body fw-bold"
            >We are hiring</a
          >
          <a
            href="#"
            class="d-block text-decoration-none mb-2 text-body fw-bold"
            >Blog</a
          >
        </div>
      </div>
      <div class="col-md-6 col-xl-2 mb-6 mb-md-0">
        <h5 class="mb-4">Company Info</h5>
        <div>
          <a
            href="#"
            class="d-block text-decoration-none mb-2 text-body fw-bold"
            >About Us</a
          >
          <a
            href="#"
            class="d-block text-decoration-none mb-2 text-body fw-bold"
            >Carrier</a
          >
          <a
            href="#"
            class="d-block text-decoration-none mb-2 text-body fw-bold"
            >We are hiring</a
          >
          <a
            href="#"
            class="d-block text-decoration-none mb-2 text-body fw-bold"
            >Blog</a
          >
        </div>
      </div>
      <div class="col-md-6 col-xl-2 mb-6 mb-md-0">
        <h5 class="mb-4">Company Info</h5>
        <div>
          <a
            href="#"
            class="d-block text-decoration-none mb-2 text-body fw-bold"
            >About Us</a
          >
          <a
            href="#"
            class="d-block text-decoration-none mb-2 text-body fw-bold"
            >Carrier</a
          >
          <a
            href="#"
            class="d-block text-decoration-none mb-2 text-body fw-bold"
            >We are hiring</a
          >
          <a
            href="#"
            class="d-block text-decoration-none mb-2 text-body fw-bold"
            >Blog</a
          >
        </div>
      </div>
      <div class="col-xl-4">
        <h5 class="mb-4">Company Info</h5>
        <form action="">
          <input
            type="text"
            name=""
            id=""
            class="py-3 px-4 bg-light border-1"
            placeholder="Enter your email"
          /><button
            type="submit"
            class="bg-secondary border-secondary border border-1 text-white px-4 py-3"
          >
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="container-fluid bg-light">
    <div class="container">
      <p class="py-5 mb-0 fw-bold">
        Made With Love By Finland All Right Reserved
      </p>
    </div>
  </div>
</section>
