<section class="bg-light py-16">
  <div class="container">
    <h2 class="text-center fs-3 text-uppercase mb-2">editor's pick</h2>
    <p class="text-center mb-10">
      Problems trying to resolve the conflict between
    </p>
    <div class="row">
      <div class="col-md-6">
        <div class="position-relative mb-6 mb-md-0 h-100">
          <h5
            class="position-absolute bottom-0 left-0 ms-6 mb-5 px-13 py-2 bg-white text-black text-uppercase"
          >
            Men
          </h5>
          <img
            src="../../../../assets/editor/editor1.jpg"
            alt=""
            class="img-fluid w-100 h-100"
          />
        </div>
      </div>
      <div class="col-md-3">
        <div class="position-relative mb-6 mb-md-0">
          <h5
            class="position-absolute bottom-0 left-0 ms-6 mb-5 px-13 py-2 bg-white text-black text-uppercase"
          >
            Women
          </h5>
          <img
            src="../../../../assets/editor/editor2.jpg"
            alt=""
            class="img-fluid w-100 h-100"
          />
        </div>
      </div>
      <div class="col-md-3 d-flex flex-column justify-content-between">
        <div class="position-relative mb-6 mb-md-0">
          <h5
            class="position-absolute bottom-0 left-0 ms-6 mb-5 px-5 py-2 bg-white text-black text-uppercase"
          >
            Accessories
          </h5>
          <img
            src="../../../../assets/editor/editor3.jpg"
            alt=""
            class="img-fluid w-100 h-100"
          />
        </div>
        <div class="position-relative mb-6 mb-md-0">
          <h5
            class="position-absolute bottom-0 left-0 ms-6 mb-5 px-13 py-2 bg-white text-black text-uppercase"
          >
            Kids
          </h5>
          <img
            src="../../../../assets/editor/editor4.jpg"
            alt=""
            class="img-fluid w-100 h-100"
          />
        </div>
      </div>
    </div>
  </div>
</section>
